*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.box{
    width: 500px;
    height: 200px;
    margin: auto;
    border: 1px solid black;
  
}
.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
   
}